/* CSS Document */
  /**************/
 /* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;  
  }
  
  button, summary {
	  cursor: pointer;
  }





  /*********/
 /* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: pixarfont;
	src: url(../fonts/CharlemagneStd-Bold.otf);
	
	font-weight: normal;
    font-style: normal;
}





  /*********************/
 /* CUSTOM PROPERTIES */
/*********************/
:root {
	/* colors */
	--color-lightmode:#111;
	--color-bg-lightmode: #a8c0db;

	/* fonts */
	--main-font: pixarfont;
}





  /***********/
 /* STYLING */
/***********/
body {
	color: var(--color-lightmode);
	background-color: var(--color-bg-lightmode);
  	font-family: var(--main-font);

	  height:100vh;

	  display:grid;
	  justify-items: center;
	  align-items:center;
}

/* logo verplaatsen */
h1 {
	position:relative;
	text-align: center;


	background-color: gold;
}

span:nth-of-type(1), :nth-of-type(2), :nth-of-type(3), :nth-of-type(4), :nth-of-type(5) {
	text-align: center;
	margin: .8em;
	font-size: 30px;
}


/* animation studios styling */
span:nth-of-type(6) {
	font-size: 12px;
}

/* lamp styling */
div {
	position: absolute;
	left:calc(34% - 1.25em);
	bottom:100%;
	width: 2.5em;

	animation-name: lopen;
	animation-duration: 2s;
	animation-timing-function: linear;

}

@keyframes lopen {
	0% {
		transform:translateX(-40vw);
	}
	100% {
		transform:translateX(0);
	}
}

img {
	display: block;
	width: 100%;
	height: auto;

	animation-name: springen;
	animation-duration: .25s;
	animation-iteration-count: 8;
	animation-timing-function: ease-out;

	/* animation-name: lopende-lamp;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	animation-delay: 2s; */
}

@keyframes springen {
	0% {
		transform:translateY(0);
	}
	100% {
		transform:translateY(-50%);
	}
}


/*animatie lopende lamp*/
@keyframes lopende-lamp {
	0% {
	  transform: translatey(0);
	}
	
	30% {
	  transform: rotate(5deg);
	}
	
	40% {
	  transform: rotate(-5deg);
	}
	
	50% {
	  transform: rotate(5deg);
	}
	
	60% {
	  transform: rotate(-5deg);
	}
	
	90% {
	  transform: translatey(-1em);
	}
	
	100% {
	  transform: translatex(0em);
	} 
}
  

  /************/
 /* DARKMODE */
/************/
@media (prefers-color-scheme: dark) { 
	:root {
		--color-darkmode: white;
		--color-bg-darkmode: darkblue;
	}
}
  


